<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">


<div id="tooplate_footer_wrapper">
    <div id="tooplate_footer">
        <div class="col_w200 float_l">
            <h3>About Us</h3>

            Our Service offer a variation of options for nail care. chemicals are
            harmful so always need to keep the<br />
            ventilator on and close lids,covers of chemicals surely.<br />
            <h4>Contact Us</h4>

            19 Trinity Walk,  Nottingham, Nottinghamshire, NG1 2AN, United Kingdom<br />
            Phone: 0115 950 8932 <br />
            Email: <a href="mailto:info@company.com"></a>
        </div>

        <div class="col_w200 float_l">
            <h3>Customers Services</h3>

            Nail Salons offer the following services:<br />
            <br />
            Nailart<br />
            Overlays<br />
            Infils<br />
            French Infills<br />
            Manicure<br />
            Pedicure<br />
            Mani-Pedi Combo<br />
            Paraffin Treatment<br />
           

        </div>
        <div class="col_w200 float_r col_last">
            <h3>@Html.ActionLink("Want To Book An Appoinment?", "Index", "bookings")</h3>
            <table border="1" style=" width:100%;border-collapse:collapse; text-align:center;">

                <tr>
                    <th colspan="2">Opening Hours</th>

                </tr>
                <tr>
                    <td>MONDAY</td>
                    <td>9.00AM-9.00PM</td>

                </tr>

                <tr>
                    <td>TUESDAY</td>
                    <td>9.00AM-9.00PM</td>
                </tr>
                <tr>
                    <td>WEDNESDAY</td>
                    <td>9.00AM-9.00PM</td>
                </tr>
                <tr>
                    <td>THURSDAY</td>
                    <td>9.00AM-9.00PM</td>
                </tr>
                <tr>
                    <td>FRIDAY</td>
                    <td>9.00AM-9.00PM</td>
                </tr>
                <tr>
                    <td>SATURDAY</td>
                    <td>9.00AM-9.00PM</td>
                </tr>
                <tr>
                    <td>SUNDAY</td>
                    <td>9.00AM-9.00PM</td>
                </tr>
            </table>
        </div>

        <div class="cleaner"></div>
    </div>
</div>

<div id="tooplate_copyright_wrapper">
    <div id="tooplate_copyright">

        <div class="text-center">
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <span class="social-icon-fb"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="social-icon-rss"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="social-icon-twitter"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="social-icon-linkedin"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="social-icon-dribbble"></span>
                    </a>
                </li>
            </ul>


        </div>
        Copyright ©@DateTime.Now.Year. All rights reserved.<br />

    </div>
</div>



