<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">


<div class="template-footer">
    <div class="container">
        <div class="row">
            <div class="text-center">

                <div class="footer_container">
                    <div class="footer_container1" style="height:-11px;">
                        <table >
                            <tr>
                                <td style="border:1px solid;  border-collapse:separate;color:black; text-align:justify; padding-left:9px;padding-right:10px" align="left" width="20%" colspan="4" >
                                   
                                        <h2 style=" border-bottom:1px solid;  text-align:center">CONTACT US</h2>
                                    <p>
                                        Singapore has begun operations as ASEAN's first International Patent Search and Examination Authority under the Patent Cooperation Treaty (PCT) on 1 September 2015. With its appointment in 2014, Singapore becomes the first country in the ASEAN region as well as the fifth country in Asia after China, Japan, India, and Korea to join the 19 Intellectual Property Offices worldwide as International Authorities for the PCT.
                                   Similarly to prior years, we have a beautiful Indian summer in Poland which brings changes to our copyright law. On the 11th September 2015, the Polish Parliament passed a new legal act, which introduces some significant changes into the Polish Copyright Act. Some of them, were required by the European law; other ones were intended to meet expectations of members of the Polish domestic legal market. This article will present the most notable, newly introduced, amendments.
                                       
                                    </p>
                                </td>
                                <td style="border:1px solid;  border-collapse:separate;color:black; text-align:justify; padding-left:9px;padding-right:10px" align="left" width="20%" colspan="4">
                                   
                                        <h2 style="border-bottom:1px solid;">CUSTOMER SERVICES</h2>
                                    <div style="padding-left:10px">
                                        Singapore has begun operations as ASEAN's first International Patent Search and Examination Authority under the Patent Cooperation Treaty (PCT) on 1 September 2015. With its appointment in 2014, Singapore becomes the first country in the ASEAN region as well as the fifth country in Asia after China, Japan, India, and Korea to join the 19 Intellectual Property Offices worldwide as International Authorities for the PCT.
                                        Similarly to prior years, we have a beautiful Indian summer in Poland which brings changes to our copyright law. On the 11th September 2015, the Polish Parliament passed a new legal act, which introduces some significant changes into the Polish Copyright Act. Some of them, were required by the European law; other ones were intended to meet expectations of members of the Polish domestic legal market. This article will present the most notable, newly introduced, amendments.
                                    </div>
                               
                                    
                                </td>
                                <td align="right" width="20%" colspan="4" style="text-align:center;">
                                   
                                        <table border="1" style=" width:80%; text-align:center;">

                                            <tr>
                                                <th style="height:30px;width:20px;" colspan="2">Opening Hours</th>

                                            </tr>
                                            <tr>
                                                <td style="height:30px;width:30px;">MONDAY</td>
                                                <td>9.00AM-9.00PM</td>

                                            </tr>

                                            <tr>
                                                <td style="height:30px;width:30px;">TUESDAY</td>
                                                <td>9.00AM-9.00PM</td>
                                            </tr>
                                            <tr>
                                                <td style="height:30px;width:30px;">WEDNESDAY</td>
                                                <td>9.00AM-9.00PM</td>
                                            </tr>
                                            <tr>
                                                <td style="height:30px;width:30px;">THURSDAY</td>
                                                <td>9.00AM-9.00PM</td>
                                            </tr>
                                            <tr>
                                                <td style="height:30px;width:30px;">FRIDAY</td>
                                                <td>9.00AM-9.00PM</td>
                                            </tr>
                                            <tr>
                                                <td style="height:30px;width:30px;">SATURDAY</td>
                                                <td>9.00AM-9.00PM</td>
                                            </tr>
                                            <tr>
                                                <td style="height:30px;width:30px;">SUNDAY</td>
                                                <td>9.00AM-9.00PM</td>
                                            </tr>
                                        </table>
                                   
                                        @Html.ActionLink("Want To Book An Appoinment?", "Index", "bookings")
                                    
                                </td>

                            </tr>

                        </table>





                        <div class="social">
                            @*<span style="align-items:baseline;">BE SOCIAL</span>*@
                            <ul class="list-inline">
                                <li>
                                    <a href="#">
                                        <span class="social-icon-fb"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="social-icon-rss"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="social-icon-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="social-icon-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="social-icon-dribbble"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="footer">
                                <p style="color: #ffffff; padding-top: 10px; text-align: center;">
                                    Copyright © 2011-@DateTime.Now.Year. All rights reserved.<br />
                                </p>

                            </div>

                            @*<div class="footer_bottom_content">
                                    <span>
                                        © Copyright <a href="#" style="color:hotpink;">BY</a>
                                        All Rights Reserved<a rel="nofollow" href="http://www.templatemo.com" target="_parent"></a>
                                    </span>
                                </div>*@
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>




