<div class="template-footer">
    <div class="container">
        <div class="row">
            <div class="text-center">

                <div class="footer_container">
                    <div class="footer_container1" style="height:-11px;">
                        <div class="about">
                            <h2 style=" border-bottom:1px solid;">ABOUT US</h2>
                            @*<p style="color:black;">who we are<p>*@
                        </div>
                        <div class="contact">
                            <h2 style=" border-bottom:1px solid;">CONTACT US</h2>
                        </div>
                        <div class="connect">
                            <h2 style="border-bottom:1px solid;">CUSTOMER SERVICES</h2>

                        </div>
                        <div class="hour">
                            <table border="1" style=" width:80%; text-align:center; margin-left: 192px;">

                                <tr>
                                    <th style="height:30px;width:20px;" colspan="2">Opening Hours</th>

                                </tr>
                                <tr>
                                    <td style="height:30px;width:30px;">MONDAY</td>
                                    <td>9.00AM-9.00PM</td>
                                    @*<td style="height:30px;width:50px;">Time Duration</td>
                                        <td>Price</td>
                                        <td>
                                            @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 15 }, null)


                                        </td>*@
                                </tr>
                                @*<tr style="color:black;">TUESDAY- 9.00AM-9.00PM</tr>
                                    <tr style="color:black;">WEDNESDAY-9.00AM-9.00PM</tr>
                                    <tr style="color:black;">THURSDAY-9.00AM-9.00PM</tr>
                                    <tr style="color:black;">FRIDAY-9.00AM-9.00PM</tr>
                                    <tr style="color:black;">SATURDAY-9.00AM-9.00PM</tr>
                                    <tr style="color:black;">SUNDAY- 10.00AM-8.00PM</tr*@
                                <tr>
                                    <td style="height:30px;width:30px;">TUESDAY</td>
                                    <td>9.00AM-9.00PM</td>
                                </tr>
                                <tr>
                                    <td style="height:30px;width:30px;">WEDNESDAY</td>
                                    <td>9.00AM-9.00PM</td>
                                </tr>
                                <tr>
                                    <td style="height:30px;width:30px;">THURSDAY</td>
                                    <td>9.00AM-9.00PM</td>
                                </tr>
                                <tr>
                                    <td style="height:30px;width:30px;">FRIDAY</td>
                                    <td>9.00AM-9.00PM</td>
                                </tr>
                                <tr>
                                    <td style="height:30px;width:30px;">SATURDAY</td>
                                    <td>9.00AM-9.00PM</td>
                                </tr>
                                <tr>
                                    <td style="height:30px;width:30px;">SUNDAY</td>
                                    <td>9.00AM-9.00PM</td>
                                </tr>
                            </table>
                        </div>
                        <div class="book_link">
                            @Html.ActionLink("Want To Book An Appoinment?", "Index", "bookings")
                        </div>
                        <div class="social">
                            @*<span style="align-items:baseline;">BE SOCIAL</span>*@
                            <ul class="list-inline">
                                <li>
                                    <a href="#">
                                        <span class="social-icon-fb"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="social-icon-rss"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="social-icon-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="social-icon-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="social-icon-dribbble"></span>
                                    </a>
                                </li>
                            </ul>


                            <div class="footer_bottom_content">
                                <span>
                                    © Copyright <a href="#" style="color:hotpink;">BY</a>
                                    All Rights Reserved<a rel="nofollow" href="http://www.templatemo.com" target="_parent"></a>
                                </span>
                            </div>
                        </div>
                    </div>
              
                </div>


            </div>
        </div>
    </div>
</div>



@*<div class="templatemo-footer" align="center">
    <div class="container">
        <div class="row">
            <div class="text-center">

                <div class="footer_container">
                    <ul class="list-inline">
                        <li>
                            <a href="#">
                                <span class="social-icon-fb"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-rss"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-dribbble"></span>
                            </a>
                        </li>
                    </ul>
             
                </div>
                <div class="footer_bottom_content">
                    <span>
                         © Copyright <a href="#">BY</a>
                        All Rights Reserved<a rel="nofollow" href="http://www.templatemo.com" target="_parent"></a>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>*@
