
@{
    ViewBag.Title = "Welcome to our services!";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}



<script type="text/javascript" src="~/Content/mytemplate/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/Content/mytemplate/js/jssor.slider.mini.js"></script>

<script>
    jQuery(document).ready(function ($) {

        var jssor_1_SlideoTransitions = [
          [{ b: 5500.0, d: 3000.0, o: -1.0, r: 240.0, e: { r: 2.0 } }],
          [{ b: -1.0, d: 1.0, o: -1.0, c: { x: 51.0, t: -51.0 } }, { b: 0.0, d: 1000.0, o: 1.0, c: { x: -51.0, t: 51.0 }, e: { o: 7.0, c: { x: 7.0, t: 7.0 } } }],
          [{ b: -1.0, d: 1.0, o: -1.0, sX: 9.0, sY: 9.0 }, { b: 1000.0, d: 1000.0, o: 1.0, sX: -9.0, sY: -9.0, e: { sX: 2.0, sY: 2.0 } }],
          [{ b: -1.0, d: 1.0, o: -1.0, r: -180.0, sX: 9.0, sY: 9.0 }, { b: 2000.0, d: 1000.0, o: 1.0, r: 180.0, sX: -9.0, sY: -9.0, e: { r: 2.0, sX: 2.0, sY: 2.0 } }],
          [{ b: -1.0, d: 1.0, o: -1.0 }, { b: 3000.0, d: 2000.0, y: 180.0, o: 1.0, e: { y: 16.0 } }],
          [{ b: -1.0, d: 1.0, o: -1.0, r: -150.0 }, { b: 7500.0, d: 1600.0, o: 1.0, r: 150.0, e: { r: 3.0 } }],
          [{ b: 10000.0, d: 2000.0, x: -379.0, e: { x: 7.0 } }],
          [{ b: 10000.0, d: 2000.0, x: -379.0, e: { x: 7.0 } }],
          [{ b: -1.0, d: 1.0, o: -1.0, r: 288.0, sX: 9.0, sY: 9.0 }, { b: 9100.0, d: 900.0, x: -1400.0, y: -660.0, o: 1.0, r: -288.0, sX: -9.0, sY: -9.0, e: { r: 6.0 } }, { b: 10000.0, d: 1600.0, x: -200.0, o: -1.0, e: { x: 16.0 } }]
        ];

        var jssor_1_options = {
            $AutoPlay: true,
            $SlideDuration: 800,
            $SlideEasing: $Jease$.$OutQuint,
            $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
            },
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
            },
            $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
            }
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);


        function ScaleSlider() {
            var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
            if (refSize) {
                refSize = Math.min(refSize, 1920);
                jssor_1_slider.$ScaleWidth(refSize);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }
        ScaleSlider();
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
    });
</script>

<style>
    .jssorb05 {
        position: absolute;
    }

        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            width: 16px;
            height: 16px;
            background: url('Content/mytemplate/images/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }

        .jssorb05 div {
            background-position: -7px -7px;
        }

            .jssorb05 div:hover, .jssorb05 .av:hover {
                background-position: -37px -7px;
            }

        .jssorb05 .av {
            background-position: -67px -7px;
        }

        .jssorb05 .dn, .jssorb05 .dn:hover {
            background-position: -97px -7px;
        }


    .jssorb01 {
        bottom: 9px;
        right: 8px;
        left: 1072px;
        width: 100px;
        height: 0px;
        position: absolute;
    }

        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
            position: absolute;
            width: 12px;
            height: 12px;
            filter: alpha(opacity=70);
            opacity: .7;
            overflow: hidden;
            cursor: pointer;
            border: #000 1px solid;
        }

        .jssorb01 div {
            background-color: gray;
        }

            .jssorb01 div:hover, .jssorb01 .av:hover {
                background-color: #d3d3d3;
            }

        .jssorb01 .av {
            background-color: #fff;
        }

        .jssorb01 .dn, .jssorb01 .dn:hover {
            background-color: #555555;
        }

    .jssora12l, .jssora12r {
        display: block;
        position: absolute;
        width: 30px;
        height: 46px;
        cursor: pointer;
        background: url('Content/mytemplate/images/a12.png') no-repeat;
        overflow: hidden;
    }

    .jssora12l {
        background-position: -10px -31px;
    }

    .jssora12r {
        background-position: -70px -31px;
    }

    .jssora12l:hover {
        background-position: -130px -31px;
    }

    .jssora12r:hover {
        background-position: -190px -31px;
    }

    .jssora12l.jssora12ldn {
        background-position: -250px -31px;
    }

    .jssora12r.jssora12rdn {
        background-position: -310px -31px;
    }
</style>

<div id="jssor_1" style="position: relative; width: 1300px; height: 410px; overflow: hidden; visibility: hidden;">


    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/Content/mytemplate/images/01slide.jpg" />

        </div>
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/Content/mytemplate/images/02slide.jpeg" />
        </div>
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/Content/mytemplate/images/03slide.jpg" />

        </div>
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/Content/mytemplate/images/04slide.jpg" />
        </div>
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/Content/mytemplate/images/05_slider.jpg" />
        </div>


        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/Content/mytemplate/images/08_slider.jpg" />
        </div>
    </div>

    <div data-u="navigator" class="jssorb01" style="bottom:9px;right:8px; left:1072px" data-autocenter="1">
        <div data-u="prototype" style="width:12px;height:11px;"></div>
    </div>
    <span data-u="arrowleft" class="jssora12l" style="top:0px;left:-6px;width:40px;height:58px;" data-autocenter="2"></span>
    <span data-u="arrowright" class="jssora12r" style="top:0px;right:-5px;width:40px;height:58px;" data-autocenter="2"></span>

    <a href="http://www.jssor.com" style="display:none">Bootstrap Carousel</a>
</div>




<div style="width: 100%; overflow-x:hidden;">
    <table style="width: 100%; overflow-x:hidden; border-spacing:20px; border-collapse:separate;color:hotpink;">
        <tr>
            <td align="left" colspan="4" style="border:1px solid;text-align:center;">

                <div class="left">

                    <span class="templatemo-service-item-header" style="color:purple; text-align:center">Make Your Nails Grow Faster </span>
                    <img src="@Url.Content("~/Content/mytemplate/")images/care_cuticales.jpg" height="180" width="300" alt="icon" />
                    <br />
                    <div align="justify" style="padding-left:61px;padding-right:61px">
                        <br />
                        Dietary supplements. Rubbing garlic on your nails. Wiggling your fingers in the air for hours at a time.
                        Sorry, but no matter what you've heard, they won’t make your nails grow faster.
                        You can't hurry your nails, which grow at a fixed rate of about a millimeter a month, says dermatologist Bruce Robinson, MD, of Lenox Hill Hospital in New York.
                        "But if you can get the nails to not break and therefore appear longer, that's where things come into play," he says.
                        First, you need to know what’s true and what's false about nail growth.
                        <br />
                    </div>


                </div>



            </td>

            <td align="center" colspan="4" style="border:1px solid;text-align:center;">
                <span class="templatemo-service-item-header" style="color:purple; text-align:center">Softer Hands, Stronger Nails </span>

                <img src="@Url.Content("~/Content/mytemplate/")images/sftrhand.jpg" height="180" width="300" alt="icon" />
                <br />


                <div align="justify" style="padding-left:61px;padding-right:61px">
                    <br />
                    Being good to your hands and nails is about having good daily habits and
                    choosing the right products to use on them. A few small changes could make
                    a difference in how your hands and nails look and feel.
                    WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
                    of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
                    assistant professor of dermatology at the University of Miami Miller School of
                    Medicine, for guidance in knowing what's good for your hands.
                    <br />
                </div>






            </td>

            <td align="right" colspan="4" style="border:1px solid;text-align:center;">



                <span class="templatemo-service-item-header" style="color:purple;">Care for Your Cuticles</span>

                <img src="@Url.Content("~/Content/mytemplate/")images/Push Cuticles.jpg" height="192" width="300" alt="icon" />
                <br />


                <div align="justify" style="padding-left:61px;padding-right:61px">
                    <br />
                    Don't Cut Your Cuticles. Dermatologists say there's no good reason to cut the cuticles. Cutting them could open the door to infection or irritation. "If you remove the cuticle, that space is wide open, and anything can get in there," Scher says. Cutting your cuticles can also lead to nail problems, such as ridges, white spots, or white lines. If you get a bacterial infection in that area, it can hamper that fingernail's growth.
                    <br />

                </div>



            </td>

        </tr>
    </table>
    <a href="#" class="back-to-top"><span style="color:white">BACK TO TOP</span></a>

</div>


