
@{
    ViewBag.Title = "Welocme to our services!";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<div>
    <!-- Carousel -->
    <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#templatemo-carousel" data-slide-to="1"></li>
            <li data-target="#templatemo-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>WELCOME TO </h1>
                        <ph>The part of Beauticum Salon
                          provides beautiful and durable nails
                            at unbeatable prices. </ph>
                      @*<p>
                            @*<a class="btn btn-lg btn-orange" href="#" role="button">About US</a>*@
                        @*</p>*@
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="col-sm-6 col-md-6">
                            <h1>FLUID</h1>
                            <p>
                               
                            @*Suspendisse pellentesque, odio vel ultricies interdum, mauris nulla 
                            ullamcorper magna, non aliquet odio velit aliquam augue.*@</p>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <h1>ENERGY</h1>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam mattis fringilla urna.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>RESPONSIVE LAYOUT</h1>
                        <p>This template is free to download and use for any website. This is a mobile-ready layout using Bootstrap framework.</p>
                        @*<p><a class="btn btn-lg btn-orange" href="#" role="button">Read More</a></p>*@
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /#templatemo-carousel -->
</div>

<div class="templatemo-welcome" id="templatemo-welcome">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <span class="txt_darkgrey">Welcome to </span><span class="txt_orange">Nails And Beauty</span>
            <p class="txt_slogan"><i>You can Book Online Here,If you are busy or you are in a rush, take it easy and book online even in the middle of the night. The booking system is always ready to help you and sort your next appointment out in a minute. Please do not forget to confirm the booked appointment, it will be sent by email your mail address you provided.</i></p>
        </div>
    </div>
</div>

<div class="templatemo-service">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="@Url.Content("~/Content/mytemplate/")images/nlgrw.jpg" height="190" width="344" alt="icon" />
                        <span class="templatemo-service-item-header">Can You Make Your Nails Grow Faster? </span>
                    </div>
                    <p>
                        Dietary supplements. Rubbing garlic on your nails. Wiggling your fingers in the air for hours at a time.
                        Sorry, but no matter what you've heard, they won’t make your nails grow faster.
                        You can't hurry your nails, which grow at a fixed rate of about a millimeter a month, says dermatologist Bruce Robinson, MD, of Lenox Hill Hospital in New York.
                        "But if you can get the nails to not break and therefore appear longer, that's where things come into play," he says.
                        First, you need to know what’s true and what's false about nail growth.
                   </p>
                    @*<div class="text-center">
                        <a href="#"
                           class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                    </div>*@
                    <br class="clearfix" />
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="@Url.Content("~/Content/mytemplate/")images/sftrhand.jpg" height="190" width="344"  alt="icon" />
                        <span class="templatemo-service-item-header">Softer Hands, Stronger Nails </span>
                    </div>
                    <p>
                    Being good to your hands and nails is about having good daily habits and 
                    choosing the right products to use on them. A few small changes could make 
                     a difference in how your hands and nails look and feel.
                     WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor 
                    of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
                     assistant professor of dermatology at the University of Miami Miller School of 
                    Medicine, for guidance in knowing what's good for your hands.
                    @*<a rel="nofollow" href="http://www.templatemo.com/preview/templatemo_395_urbanic" 
                       target="_parent">Urbanic</a> is free responsive mobile website template by
                     templatemo. Credits go to <a rel="nofollow" 
                    href="http://getbootstrap.com">Bootstrap</a> for responsive layout and
                    <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images used 
                    in this template. Curabitur non eros ut dolor tincidunt interdum sit amet 
                    vitae quam.*@</p>
                    @*<div class="text-center">
                        <a href="#"
                           class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                    </div>*@
                    <br class="clearfix" />
                </div>

            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="@Url.Content("~/Content/mytemplate/")images/carecuticlics.jpg" height="190" width="344" alt="icon" />
                        <span class="templatemo-service-item-header">Care for Your Cuticles</span>
                    </div>
                    <p>
                        1. Don't Cut Your Cuticles. Dermatologists say there's no good reason to cut the cuticles. Cutting them could open the door to infection or irritation. "If you remove the cuticle, that space is wide open, and anything can get in there," Scher says. Cutting your cuticles can also lead to nail problems, such as ridges, white spots, or white lines. If you get a bacterial infection in that area, it can hamper that fingernail's growth.
                        2. Go Orange. If you're hoping to make your nails appear longer, you can push your cuticles back gently with a wooden orange stick instead.
                        3. Moisturize. Although the cuticles don't feel like the soft skin on the rest of your hands, they're composed primarily of skin, so it's essential to keep them moisturized. 
                        4. Avoid Rough Manicurists. Many people see their dermatologist when they develop red, sore spots around their nails or cuticles caused by a skin infection called paronychia. 
                        5. Steer Clear of Drying Agents. The hands, nails, and cuticles can dry out from frequent dish washing and from nail polish remover containing acetone.
                        6. Keep Your Hands Out of Your Mouth. "Your mouth is a dirty area, and saliva is an enzyme that breaks down skin," Robinson says. 
                        @*Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. 
                    Quisque id turpis tristique, venenatis erat sit amet, venenatis turpis. Ut tellus ipsum, 
                    posuere bibendum consectetur vel, egestas sit amet erat. Morbi rhoncus leo fermentum viverra.*@
                    </p>
                    @*<div class="text-center">
                        <a href="#"
                           class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                    </div>*@
                    @*<br class="clearfix" />*@
                    
                @*<br class="clearfix" />*@
            </div>          
                </div>
            </div>
        <div class="height30"></div>
        <a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Back To Top</a>
        
</div>

